@model VoiceOfTwitch.Models.Statement
<style type="text/css">
    .display-label { }

    .display-field { }
</style>

<div>
    Id: @Model.id <br/>
    Score: @Model.score <br/>
    Occurences: @Model.occurrences <br/>
    Created At: @Model.createdAt <br/>
    Last updated: @Model.lastUpdated <br/>
</div>